<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("_header.ejs")%> <br />
    <h1>Instructor Dashboard</h1>
    <h2>Hi <%= user.username %></h2>
</body>
</html>