<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - FitJourney</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>

  <form action="/login" method="POST">
    <h2>User Login</h2>

    <label for="email">Email Address</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>

    <!-- Optional: Link to signup page -->
     <div class="back-link">
      <a href="/">Don't have an account? Sign up</a>
    </div> 
  </form>

</body>
</html>
