<!DOCTYPE html>
<html>
    <head>
         <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="login.css">
  <link rel="stylesheet" href="index.css">
    </head>
    <body>
    <div class="navbar-container">
         
        <div class="logo"><img width="80px;" src="/images/fj_logo.png" alt=""></div>
         
        <nav class="landing-navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/#register-user">Sign Up</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
         </ul>
        </nav>
    </div>
    <div class="container">
        <div class="heading">Sign In</div>
        <form class="form" action="/login" method="POST">
        <input
            placeholder="E-mail"
            id="email"
            name="email"
            type="email"
            class="input"
            required=""
        />
        <input
            placeholder="Password"
            id="password"
            name="password"
            type="password"
            class="input"
            required=""
        />
        <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
        <input value="Sign In" type="submit" class="login-button" />
        </form>

    </div>
    </body>
</html>


