<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include("_header.ejs")%> <br />
    <h1>Nutritionist Dashboard</h1>
   <% if(user){ %>
    <h2>Hi <%= user.username %></h2>
   <% }else{ %>
        <h2>Hi Nutritionist</h2>
    <% } %>
</body>
</html>