<!DOCTYPE html>
<html>
<head>
    <title>Sign Up - Habit Seeker</title>
    <link rel="stylesheet" href="register.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
      <div class="navbar-container">
    <div class="logo"><img width="80px;" src="/images/fj_logo.png" alt=""></div>
    <nav class="landing-navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Login</a></li>
        <li><a href="/#register-user">Sign Up</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </nav>
  </div>
    <h2>Sign Up as Habit Seeker</h2>
    <form action="/register-user" method="POST">
        <label>First Name:</label><br>
        <input type="text" name="firstname" required><br><br> 

        <label>Last Name:</label><br>
        <input type="text" name="lastname" required><br><br>

        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
