body {
  font-family: Arial, sans-serif;
  background-color: #f7fafc;
  padding: 10px;
}

form {
  background-color: rgb(202, 226, 238);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 400px;
  margin: 50px auto;
}

h2 {
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  color: #2d3748;
}

label {
  display: block;
  margin-bottom: 1px;
  margin-left: 2px;
  color: #4a5568;
  font-weight: bold;
}

input, select {
    display:block;
  width: 90%;
  margin: 12px auto;
  padding: 8px;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  font-size: 1em;
}

input:focus, select:focus {
  outline: none;
  border-color: #38b2ac;
  box-shadow: 0 0 5px rgba(72, 187, 120, 0.3);
}

button {
    display:block;
  background-color: #076396;
  color: white;
  padding: 10px;
  width: 93%;
  margin:25px auto;
 /*  margin-left: 3px;
  margin-top: 5px; */
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #38b2ac;
}
