body {
  font-family: Arial, sans-serif;
  background-color: #f7fafc;
  padding: 5px;
}

form {
  background-color: #6c93db;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 400px;
  margin:auto;
}

h2 {
   margin:auto;
   text-align: center;
  margin-bottom: 10px;
  color: #2d3748;
}

label {
  display: block;
  margin-bottom: 1px;
  color: #4a5568;
  font-weight: bold;
}

input {
  width: 100%;
  margin: auto;
  padding: 4px;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  font-size: 1em;
}

input:focus, select:focus {
  outline: none;
  border-color: #38b2ac;
  box-shadow: 0 0 5px rgba(72, 187, 120, 0.3);
}

button {

  background-color: #4fd1c5;
  color: white;
  padding: 4px;
  width: 100%;
  margin-left: 3px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #38b2ac;
}

/* .back-link {
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 0.95em;
}

.back-link a {
  color: #2b6cb0;
  text-decoration: underline;
} */
